<img src=gas-giant.jpg/>
<h1>Home Page</h1>
<%= link_to "Create article", new_article_path %>
<%= link_to "List all articles", articles_url %>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>
</nav>
